<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="IDEFrame">
		<title>Brainfuck IDE - New File</title>
		<size>-1,-1</size>
		<id_arg>0</id_arg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<rows>2</rows>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxSplitterWindow" name="ID_SPLITTERWINDOW1" variable="SplitterWindow1" member="yes">
					<sashpos>200</sashpos>
					<minsize>10</minsize>
					<orientation>vertical</orientation>
					<size>100,32</size>
					<minsize>10,10</minsize>
					<object class="Custom" name="ID_CODE_EDITOR" subclass="wxStyledTextCtrl" variable="CodeEditor" member="yes">
						<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS), $(SIZE), wxDEFAULT__FRAME__STYLE, $(NAME));&#x0A;$(THIS)-&gt;SetMarginWidth(0,$(THIS)-&gt;TextWidth(wxSTC__STYLE__LINENUMBER,&quot;9999&quot;));&#x0A;$(THIS)-&gt;SetMarginSensitive(1,true);&#x0A;$(THIS)-&gt;SetScrollWidth($(SIZE).GetWidth());&#x0A;$(THIS)-&gt;MarkerDefine(0,wxSTC__MARK__CIRCLE);&#x0A;</creating_code>
						<include_file>wx/stc/stc.h</include_file>
						<style></style>
					</object>
					<object class="wxSplitterWindow" name="ID_SPLITTERWINDOW2" variable="SplitterWindow2" member="yes">
						<minsize>10</minsize>
						<pos>114,21</pos>
						<minsize>10,10</minsize>
						<object class="wxGrid" name="ID_GRID1" subclass="bf_table" variable="DataGrid" member="yes">
							<pos>34,15</pos>
							<size>-1,49d</size>
							<minsize>-1,49d</minsize>
							<maxsize>-1,49d</maxsize>
						</object>
						<object class="Custom" name="ID_TERM" subclass="BFTerm" variable="Term1" member="yes">
							<creating_code>$(THIS) = new $(CLASS)($(PARENT),&amp;m,&amp;c,$(ID),$(POS),$(SIZE),$(NAME));</creating_code>
							<include_file>BFTerm.h</include_file>
							<local_include>1</local_include>
							<style></style>
							<pos>54,60</pos>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>100</cols>
					<object class="sizeritem">
						<object class="wxButton" name="ID_RUN_BUTTON" variable="RunButton" member="yes">
							<label>Run</label>
							<handler function="OnRunButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_BREAKPOINT_CHECKBOX" variable="BreakPointsEnabled" member="yes">
							<label>Enable Breakpoints</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_STOP_BUTTON" variable="StopButton" member="yes">
							<label>Stop</label>
							<handler function="OnStopButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_PAUSE_BUTTON" variable="PauseButton" member="yes">
							<label>Pause</label>
							<handler function="OnPauseButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_CONTINUE_BUTTON" variable="ContinueButton" member="yes">
							<label>Continue</label>
							<handler function="OnContinueButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_STEP_BUTTON" variable="StepButton" member="yes">
							<label>Step</label>
							<handler function="OnStepButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_CLEAR_TERMINAL_BUTTON" variable="ClearButton" member="yes">
							<label>Clear Terminal</label>
							<handler function="OnClearButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="yes">
			<object class="wxMenu" variable="FileMenu" member="yes">
				<label>File</label>
				<object class="wxMenuItem" name="ID_MENU_NEW" variable="MenuNew" member="yes">
					<label>New</label>
					<bitmap stock_id="wxART_NORMAL_FILE" stock_client="wxART_MENU" />
					<handler function="OnMenuNewSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENU_OPEN" variable="MenuOpen" member="yes">
					<label>Open...</label>
					<bitmap stock_id="wxART_FILE_OPEN" stock_client="wxART_MENU" />
					<handler function="OnMenuOpenSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENU_SAVE" variable="MenuSave" member="yes">
					<label>Save</label>
					<bitmap stock_id="wxART_FILE_SAVE" stock_client="wxART_MENU" />
					<handler function="OnMenuSaveSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM4" variable="MenuSaveAs" member="yes">
					<label>Save As...</label>
					<bitmap stock_id="wxART_FILE_SAVE_AS" stock_client="wxART_MENU" />
					<handler function="OnMenuSaveAsSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENU_QUIT" variable="MenuQuit" member="yes">
					<label>Quit</label>
					<bitmap stock_id="wxART_QUIT" stock_client="wxART_MENU" />
					<handler function="OnQuitButtonClick" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="yes">
				<label>Edit</label>
				<object class="wxMenuItem" name="ID_MENU_UNDO" variable="MenuUndo" member="yes">
					<label>Undo</label>
					<bitmap stock_id="wxART_UNDO" stock_client="wxART_MENU" />
					<handler function="OnMenuUndoSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENU_REDO" variable="MenuRedo" member="no">
					<label>Redo</label>
					<bitmap stock_id="wxART_REDO" stock_client="wxART_MENU" />
					<handler function="OnMenuRedoSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENU_COPY" variable="MenuCopy" member="yes">
					<label>Copy</label>
					<bitmap stock_id="wxART_COPY" stock_client="wxART_MENU" />
					<handler function="OnMenuCopySelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENU_CUT" variable="MenuCut" member="yes">
					<label>Cut</label>
					<bitmap stock_id="wxART_CUT" stock_client="wxART_MENU" />
					<handler function="OnMenuCutSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENU_PASTE" variable="MenuPaste" member="yes">
					<label>Paste</label>
					<bitmap stock_id="wxART_PASTE" stock_client="wxART_MENU" />
					<handler function="OnMenuPasteSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu3" member="yes">
				<label>Help</label>
				<object class="wxMenuItem" name="ID_MENU_ABOUT" variable="MenuAbout" member="yes">
					<label>About</label>
					<bitmap stock_id="wxART_INFORMATION" stock_client="wxART_MENU" />
					<handler function="OnMenuAboutSelected" entry="EVT_MENU" />
				</object>
			</object>
		</object>
	</object>
</wxsmith>
