<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="NewFrame">
		<title>BrainF*** Interpreter</title>
		<size>581,453</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>136,232</pos>
			<size>568,453</size>
			<object class="wxButton" name="ID_BUTTON1" variable="RunButton" member="yes">
				<label>Run</label>
				<pos>16,408</pos>
				<handler function="OnRunButtonClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="ProgramBox" member="yes">
				<value>Text</value>
				<pos>16,16</pos>
				<size>280,376</size>
				<style>wxTE_MULTILINE</style>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="OutputBox" member="yes">
				<value>Text</value>
				<pos>312,288</pos>
				<size>240,104</size>
				<style>wxTE_MULTILINE|wxTE_READONLY</style>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="InputBox" member="yes">
				<value>Text</value>
				<pos>312,168</pos>
				<size>240,88</size>
				<style>wxTE_MULTILINE</style>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT1" variable="OutputLabel" member="yes">
				<label>Output</label>
				<pos>312,264</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT2" variable="InputLabel" member="yes">
				<label>Input</label>
				<pos>312,144</pos>
			</object>
			<object class="wxGrid" name="ID_GRID1" subclass="bf_table" variable="Grid1" member="yes">
				<pos>312,32</pos>
				<size>232,96</size>
			</object>
			<object class="wxButton" name="ID_BUTTON2" variable="StopButton" member="yes">
				<label>Stop</label>
				<pos>112,408</pos>
			</object>
			<object class="wxButton" name="ID_BUTTON3" variable="DebugButton" member="yes">
				<label>Debug</label>
				<pos>208,408</pos>
			</object>
			<object class="wxButton" name="ID_BUTTON4" variable="StepButton" member="yes">
				<label>Step</label>
				<pos>400,408</pos>
			</object>
			<object class="wxButton" name="ID_BUTTON5" variable="PauseButton" member="yes">
				<label>Pause</label>
				<pos>304,408</pos>
			</object>
			<object class="wxButton" name="ID_BUTTON6" variable="QuitButton" member="yes">
				<label>Quit</label>
				<pos>488,408</pos>
				<handler function="OnQuitButtonClick" entry="EVT_BUTTON" />
			</object>
		</object>
	</object>
</wxsmith>
